<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<head th:replace="common/common"/>
<title th:fragment="title">在线用户信息</title>
</head>
<body>
	<div class="bdcontent">
		<table id="onlineGridlist"></table>
	</div>
	<script th:src="@{/module/sysmgr/online/onlinelist.js}" type="text/javascript"></script>
	<script th:line="javascript">
		$(function() {
			OnlinePage.init();
		});
	</script>
</body>
</html>