<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link th:href="@{ux/bootstrap/css/login/login2.css}" rel="stylesheet"/>
<title th:fragment="title">登录</title>
</head>
<body>
<div id="sky"></div>
<div id="head"></div>
<div id="middle">
<form id="loginForm" th:action="@{/login}" method="post">
<ul style="text-align: center;">
	<li style="font-size: 42px">精灵 - FFX</li>
	<li><input class="name" name="username" placeholder="请输入用户名"></li>
	<li><input type="password" name="password" class="pwd" placeholder="请输入密码"></li>
	<li id="verifyCode" style="display: block;">
		<input id="valid" name="kaptcha" placeholder="请输入验证码" maxlength="4">
		<span id="validcode">
			<img id="verifyCodePic" alt="验证码" th:src="@{/images/kaptcha.jpg}"/>
		</span>
	</li>
	<li><button id="loginBtn">立即登录</button></li>
	<li><span id="err" style="display: inline-block;" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span></li>
</ul>
</form>
</div>
<div id="cloud"></div>
</body>
<script th:src="@{webjars/jquery/1.11.3/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{ux/bootstrap/js/login/login2.js}" type="text/javascript"></script>
<script th:inline="javascript">
	$(function() {
		LoginPage.init([[${#servletContext.contextPath}]])
	});
</script>
</html>