<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{ux/bootstrap/css/login/login.css}" rel="stylesheet"/>
<title th:fragment="title">登录</title>
</head>
<body class="theme-login-layout">
	<div class="theme-login-header"></div>
	<div id="theme-login-form">
		<form id="loginForm" class="theme-login-form" th:action="@{/login}" method="post">
			<div class="form-contain">
				<div class="form-group">
					<input id="username" name="username" type="text"
						class="theme-login-text" placeholder="请输入用户名" /> <span class="i-username i-con"><i></i></span>
				</div>
				<div class="form-group">
					<input id="password" name="password" type="password"
						class="theme-login-text" placeholder="请输入密码"/> <span class="i-password i-con"><i></i></span>
				</div>
				<div class="form-group">
					<input id="kaptcha" name="kaptcha" type="text" class="theme-login-code" placeholder="请输入验证码"/>
					<span class="i-code i-con"><i></i></span> 
					<span class="span-code"><img class="theme-kaptcha-img" alt="验证码" th:src="@{/images/kaptcha.jpg}"></span>
					<div class="error">
						<span id="frontErrorSpan" th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
					</div>
				</div>
				<div>
					<button id="loginBtn" type="submit" class="submit" >LOGIN</button>
				</div>
			</div>
		</form>
	</div>
</body>
<script th:src="@{webjars/jquery/1.11.3/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{ux/bootstrap/js/login/login.js}" type="text/javascript"></script>
<script th:inline="javascript">
	$(function() {
		LoginPage.init([[${#servletContext.contextPath}]])
	});
</script>
</html>